$bg-color: #1C202A;

/*Basic text*/
$white: #fff;
$placeholder: #5C648A;
$hyperlink: #00ABE6;
$error: #F45B69;
$icon: #a6b1c8;

/*Component color*/
$overlay: #2C3040;

/*Buttons*/
$primary: #005ae6;

/*Grey shades*/
$light: #868EA3;
$dark: #101319;
$dard-II: #242834;

/*Input variables*/
$dark-underline: #35394c;